In [3]:
import pymysql
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('show databases')

9

In [5]:
for x in mycursor:
    print(x)

('footballmanagementsystem',)
('foreignfootballmanagement',)
('information_schema',)
('internationalfootballmanagement',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [6]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'internationalfootballmanagement'
)
mycursor = mydb.cursor()

In [5]:
mycursor.execute('create table Spanish_League(PositionId int not null primary key,Team varchar(255) not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,Goalagaist int not null,Point int not null)')

0

In [7]:
mycursor.execute('alter table Spanish_League add column MatchPlayed int not null after Team')
mycursor.execute('show columns from Spanish_League')
for x in mycursor:
    print (x)

('PositionId', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('MatchPlayed', 'int', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('Goalfor', 'int', 'NO', '', None, '')
('Goalagaist', 'int', 'NO', '', None, '')
('Point', 'int', 'NO', '', None, '')

In [8]:
mycursor.execute('alter table Spanish_League add column Goaldiffrence int not null after Team')
mycursor.execute('show columns from Spanish_League')
for x in mycursor:
    print (x)

('PositionId', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('Goaldiffrence', 'int', 'NO', '', None, '')
('MatchPlayed', 'int', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('Goalfor', 'int', 'NO', '', None, '')
('Goalagaist', 'int', 'NO', '', None, '')
('Point', 'int', 'NO', '', None, '')

In [7]:
mycursor.execute('alter table Spanish_League add column GoalDifference int not null after Team')
mycursor.execute('show columns from Spanish_League')
for x in mycursor:
    print (x)

OperationalError: (1060, "Duplicate column name 'GoalDifference'")

In [8]:
sql ='insert into Spanish_League(PositionID,Team,GoalDifference,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'Real Betis',3,3,0,0,6,1,5,9),
      (2,'Barcelona',3,2,1,0,8,1,7,7),
      (3,'Villarreal',3,2,1,0,5,0,5,7),
      (4,'Real Madrid',2,2,0,0,6,2,4,6),
      (5,'Osasuna',3,2,0,1,4,2,2,6),
      (6,'Real Sociedad',3,2,0,1,3,4,1,6),
      (7,'Real Mallocra',3,1,1,1,3,2,1,4),
      (8,'Athletic Bilbao',2,1,1,0,1,0,1,4),
      (9,'Almeria',3,1,1,1,4,4,0,4),
      (10,'Rayo Vallecano',3,1,1,1,2,2,0,4)]
mycursor.executemany(sql,val)
mydb.commit()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',Point) values (1,'Real Betis',3,3,0,0,6,1,5,9),(2,'Barcelona',3,2,1,0,8,1,7,7),' at line 1")

In [9]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'internationalfootballmanagement'
)
mycursor = mydb.cursor()
mycursor.execute('create table Italian_League(PositionId int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,Goalagainst int not null,GoalDifference int not null,Point int not null)')

OperationalError: (1050, "Table 'italian_league' already exists")

In [10]:
sql ='insert into Italian_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,Goalagainst,GoalDifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'Napoli',3,2,1,0,9,2,7,7),
      (2,'Milan',3,2,1,0,7,3,4,7),
      (3,'Lazio',3,2,1,0,5,2,3,7),
      (4,'Atalanta',3,2,1,0,4,1,3,7),
      (5,'Torino',3,2,1,0,4,2,2,7),
      (6,'Roma',3,2,1,0,3,1,2,7),
      (7,'Inter',3,2,0,1,6,4,2,6),
      (8,'Juventus',3,1,2,0,4,1,3,5),
      (9,'Fiorentina',3,1,2,0,3,2,1,5),
      (10,'Salernitana',3,1,1,1,4,1,3,4)]
mycursor.executemany(sql,val)
mydb.commit()
mycursor.execute('select * from Italian_League')
for x in mycursor:
    print(x)

IntegrityError: (1062, "Duplicate entry '1' for key 'italian_league.PRIMARY'")

In [23]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'internationalfootballmanagement'
)
mycursor = mydb.cursor()
mycursor.execute('create table French_League(PositionId int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,Goalagainst int not null,GoalDifference int not null,Point int not null)')

0

In [12]:
sql ='insert into French_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,Goalagainst,GoalDifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'PSG',4,3,1,0,18,4,14,10),
      (2,'Marseille',4,3,1,0,10,3,7,10),
      (3,'lens',4,3,1,0,9,4,5,10),
      (4,'Lyon',3,2,1,0,7,3,4,7),
      (5,'Lorient',3,2,1,0,5,3,2,7),
      (6,'LOSC',4,2,1,1,9,10,-1,7),
      (7,'Auxerre',4,2,1,1,6,7,-1,7),
       (8,'Montpellier',4,2,0,2,13,9,4,6),
      (9,'ClermontFoot',4,2,0,2,6,9,-3,6),
      (10,'Toulouse',4,1,2,1,7,6,1,5)]
mycursor.executemany(sql,val)
mydb.commit()

IntegrityError: (1062, "Duplicate entry '1' for key 'french_league.PRIMARY'")