# Create a table for Spanish League, Italian League and French League having the same columns name as the English premier league

# insert the clubs with their various records

In [1]:
import pymysql
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'footballmanagementsystem'
    
)
mycursor = mydb.cursor()

In [2]:
mycursor.execute('create table Spanish_League(PositionId int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,GoalAgainst int not null,GoalDifference int not null,Point int not null)')

0

In [23]:
mycursor.execute('show columns from Spanish_League')
for x in mycursor:
    print (x)

('PositionId', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('MatchPlayed', 'int', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('Goalfor', 'int', 'NO', '', None, '')
('GoalAgainst', 'int', 'NO', '', None, '')
('GoalDifference', 'int', 'NO', '', None, '')
('Point', 'int', 'NO', '', None, '')

In [26]:
mycursor.execute('alter table Spanish_League rename to Spanish_Laliga_League')
mycursor.execute('show tables')
for x in mycursor:
    print (x)

('english_premier_league',)
('french_league',)
('italian_league',)
('sl',)
('spanish_laliga_league',)

In [31]:
sql = 'insert into Spanish_Laliga_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,Goalagainst,GoalDifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'RealBetis',3,3,0,0,6,1,5,9),
      (2,'Barcelona',3,2,1,0,8,1,7,7),
      (3,'Villarreal',3,2,1,0,5,0,5,7),
      (4,'Real Madrid',2,2,0,0,6,2,4,6),
      (5,'Osasuna',3,2,0,1,4,2,2,6),
      (6,'Real Sociedad',3,2,0,1,3,4,1,6),
      (7,'Real Mallocra',3,1,1,1,3,2,1,4),
      (8,'Athletic Bilbao',2,1,1,0,1,0,1,4),
      (9,'Almeria',3,1,1,1,4,4,0,4),
      (10,'Rayo Vallecano',3,1,1,1,2,2,0,4)]
#mycursor.executemany(sql,val)
#mydb.commit()

In [30]:
mycursor.execute('select * from Spanish_Laliga_League')
for x in mycursor:
    print(x)

(1, 'Real Betis', 3, 3, 0, 0, 6, 1, 5, 9)
(2, 'Barcelona', 3, 2, 1, 0, 8, 1, 7, 7)
(3, 'Villarreal', 3, 2, 1, 0, 5, 0, 5, 7)
(4, 'Real Madrid', 2, 2, 0, 0, 6, 2, 4, 6)
(5, 'Osasuna', 3, 2, 0, 1, 4, 2, 2, 6)
(6, 'Real Sociedad', 3, 2, 0, 1, 3, 4, 1, 6)
(7, 'Real Mallocra', 3, 1, 1, 1, 3, 2, 1, 4)
(8, 'Athletic Bilbao', 2, 1, 1, 0, 1, 0, 1, 4)
(9, 'Almeria', 3, 1, 1, 1, 4, 4, 0, 4)
(10, 'Rayo Vallecano', 3, 1, 1, 1, 2, 2, 0, 4)

In [10]:
import pymysql
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'footballmanagementsystem'
    
)
mycursor = mydb.cursor()
mycursor.execute('create table Italian_League(PositionId int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,GoalAgainst int not null,GoalDifference int not null,Point int not null)')

0

In [11]:
sql = 'insert into Italian_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,Goalagainst,GoalDifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'Napoli',3,2,1,0,9,2,7,7),
      (2,'Milan',3,2,1,0,7,3,4,7),
      (3,'Lazio',3,2,1,0,5,2,3,7),
      (4,'Atalanta',3,2,1,0,4,1,3,7),
      (5,'Torino',3,2,1,0,4,2,2,7),
      (6,'Roma',3,2,1,0,3,1,2,7),
      (7,'Inter',3,2,0,1,6,4,2,6),
      (8,'Juventus',3,1,2,0,4,1,3,5),
      (9,'Fiorentina',3,1,2,0,3,2,1,5),
      (10,'Salernitana',3,1,1,1,4,1,3,4)]
mycursor.executemany(sql,val)
mydb.commit()
mycursor.execute('select * from Italian_League')
for x in mycursor:
    print(x)

(1, 'Napoli', 3, 2, 1, 0, 9, 2, 7, 7)
(2, 'Milan', 3, 2, 1, 0, 7, 3, 4, 7)
(3, 'Lazio', 3, 2, 1, 0, 5, 2, 3, 7)
(4, 'Atalanta', 3, 2, 1, 0, 4, 1, 3, 7)
(5, 'Torino', 3, 2, 1, 0, 4, 2, 2, 7)
(6, 'Roma', 3, 2, 1, 0, 3, 1, 2, 7)
(7, 'Inter', 3, 2, 0, 1, 6, 4, 2, 6)
(8, 'Juventus', 3, 1, 2, 0, 4, 1, 3, 5)
(9, 'Fiorentina', 3, 1, 2, 0, 3, 2, 1, 5)
(10, 'Salernitana', 3, 1, 1, 1, 4, 1, 3, 4)

In [16]:
import pymysql
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'lologeorge@18',
    database = 'footballmanagementsystem'
    
)
mycursor = mydb.cursor()
#mycursor.execute('create table French_League(PositionId int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null,Lost int not null,Goalfor int not null,GoalAgainst int not null,GoalDifference int not null,Point int not null)')

In [21]:
sql = 'insert into French_League(PositionID,Team,MatchPlayed,Win,Draw,Lost,GoalFor\
,Goalagainst,GoalDifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'PSG',4,3,1,0,18,4,14,10),
      (2,'Marseille',4,3,1,0,10,3,7,10),
      (3,'lens',4,3,1,0,9,4,5,10),
      (4,'Lyon',3,2,1,0,7,3,4,7),
      (5,'Lorient',3,2,1,0,5,3,2,7),
      (6,'LOSC',4,2,1,1,9,10,-1,7),
      (7,'Auxerre',4,2,1,1,6,7,-1,7),
       (8,'Montpellier',4,2,0,2,13,9,4,6),
      (9,'ClermontFoot',4,2,0,2,6,9,-3,6),
      (10,'Toulouse',4,1,2,1,7,6,1,5)]
#mycursor.executemany(sql,val)
#mydb.commit()

In [19]:
mycursor.execute('select * from French_League')
for x in mycursor:
    print(x)

(1, 'PSG', 4, 3, 1, 0, 18, 4, 14, 10)
(2, 'Marseille', 4, 3, 1, 0, 10, 3, 7, 10)
(3, 'lens', 4, 3, 1, 0, 9, 4, 5, 10)
(4, 'Lyon', 3, 2, 1, 0, 7, 3, 4, 7)
(5, 'Lorient', 3, 2, 1, 0, 5, 3, 2, 7)
(6, 'LOSC', 4, 2, 1, 1, 9, 10, -1, 7)
(7, 'Auxerre', 4, 2, 1, 1, 6, 7, -1, 7)
(8, 'Montpellier', 4, 2, 0, 2, 13, 9, 4, 6)
(9, 'ClermontFoot', 4, 2, 0, 2, 6, 9, -3, 6)
(10, 'Toulouse', 4, 1, 2, 1, 7, 6, 1, 5)